.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Renviron
googlecloudstorager-auth-key.json
client_secret_209667139353-07i4ji78l4v7682mrk5682q6hr3hqvao.apps.googleusercontent.com.json
dev
Dockerfile
